:root {
    --bg-color: rgb(255, 255, 255);
    --bg-color-cards: rgb(217, 232, 244);
    --dark-color: rgb(36, 36, 36);
    --brand-color: #c778ff;
}

/* resetter */
*::after, *::before {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    margin: 0.5rem 2rem;
}

body {
    background-color: var(--bg-color);
    font-family: 'Hedvig Letters Serif', serif;
    padding: 0.5rem;
    color: white;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: aliceblue;
}

h2, h3 {
    background-color: var(--dark-color);
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 0px;
    background-color: var(--dark-color);
    color: white;
    padding: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a {
    text-decoration: none;
    letter-spacing: 1px;
}

nav li {
    display: inline-block;
    margin: 0 2rem;
    padding: 0.5rem 0;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: var(--brand-color)
}

a:active {
    color: var(--brand-color);
}

section {
    display: flex;
    margin-top: 1rem;
}

article {
    flex: 1;
    border-radius: 0.75rem;
    gap: 1rem;
    transition: 0.5s;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

article img {
    height: 200px;
}

.div-main {
    width: 100%;
    text-align: center;
    background-color: var(--dark-color);
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.collections {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

article img {
    max-width: 100%;
    height: auto;
}

.article {
    font-size: 0.70rem;
    word-wrap: break-word;
}

.second-section-wrapper {
    margin-top: 0px;
    width: 100%;
    height: 80vh;
}

p {
    color: var(--dark-color);
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    padding: 1rem 4rem;
}

span {
    font-weight: 800;
    cursor: pointer;
    padding: 0.4rem;
    margin-right:3px;
}

h3 {
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.trending-products-wrapper {
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100px;
    background:
    linear-gradient(rgba(101, 101, 101, 0.575), rgba(0, 0, 0, 0.534)), 
    url("assets/images/blackgrids.jpg");
    transition: transform 0.2s ease-in-out;
    background-size: cover;
}

.trending-products-wrapper:hover {
    transform: scale(102%);
}

footer {
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    padding: 1rem;
    color: white;
}

.bold {
    font-size: 1.4rem;
}

footer div {
    flex: 1;
}

footer img {
    width: 10%;
    height: 2.2rem;
}

.copyright {
    font-size: 1rem;
    text-align: right;
}

article:hover {
    transform: scale(102%);
    transform: skewX(4deg);
    transform: skewY(4deg);
    cursor: pointer;
}

article.model5:hover {
    transform: skewX(4deg);
    transform: skewY(-4deg);
}
